/* Dashboard.css */

.dashboard-container {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Wyśrodkuj zawartość */
  position: relative;
  margin-bottom: 20px;
}

.dashboard-title {
  font-size: 36px;
  color: #333;
  margin: 0;
  flex: 1; /* Zapewnij, że tytuł zajmuje resztę dostępnej przestrzeni */
  text-align: center;
}

.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  right: 0; /* Ustawienie przycisku po prawej stronie */
}

.logout-button:hover {
  background-color: #0056b3;
}

.dashboard-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.dashboard-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.dashboard-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-icon {
  font-size: 48px;
  color: #007bff;
  margin-bottom: 15px;
}

.card-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #555;
}
