header {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: black;
}

.containerHome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Zmniejsza przestrzeń wokół kontenera */
  max-width: 400px; /* Ogranicza szerokość kontenera */
  margin: 0 auto; /* Wyrównanie kontenera do środka */
}

button {
  margin: 5px; /* Zmniejszenie marginesu wokół przycisków */
  padding: 10px 20px;
  font-size: 18px;
  width: 200px; /* Automatyczna szerokość przycisków w kontenerze */
  max-width: 350px; /* Ograniczenie maksymalnej szerokości przycisków */
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
  color: white;
}
