/* Stylizacje dla Login i Register */
.formFirst {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  border: none;
  justify-content: center;
}

button:hover {
  background-color: #218838;
}

p {
  color: red;
  margin-top: 10px;
}
