#dieta {
  margin-top: 20px;
  text-align: left; /* Ustawienie domyślnego wyrównania tekstu */
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 50px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.macro-summary {
  text-align: center; /* Wyrównanie tekstu w podsumowaniu makroskładników do środka */
  margin-bottom: 20px; /* Dodano odstęp poniżej podsumowania */
}

.macro-summary p {
  margin: 5px 0; /* Dodano odstępy między wierszami */
}

.meal-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f8f8f8;
  text-align: left;
  text-align: center;
}

.meal-type {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c3e50;
}

.meal-name {
  font-size: medium;
  color: #34495e; /* Zmiana koloru */
}

.meal-details,
.meal-ingredients {
  font-size: 1em;
  margin: 5px 0;
  color: #555; /* Ustalenie koloru tekstu dla detali */
}
.calories-macros {
  font-style: oblique;
}

.macro-summary {
  text-align: center; /* Wyrównanie tekstu do środka */
  margin-bottom: 20px; /* Odstęp poniżej podsumowania */
}

.macro-summary p {
  margin: 5px 0; /* Odstępy między wierszami */
  font-weight: bold; /* Wyróżnienie tekstu */
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #95a5a6;
}

.fixed-back-button {
  position: fixed; /* Ustawia pozycję przycisku na stałą */
  top: 20px; /* Odstęp od górnej krawędzi */
  left: 20px; /* Odstęp od lewej krawędzi */
  z-index: 1000; /* Zapewnia, że przycisk będzie na wierzchu */
}
